# Server
PORT=5000
NODE_ENV=development

# PostgreSQL (Supabase)
DATABASE_URL=postgresql://postgres:your-db-password@your-project-id.supabase.co:5432/postgres


# JWT
JWT_SECRET=replace_this_with_a_long_random_secret_string
JWT_EXPIRES_IN=7d

# Supabase Storage (Skip for local disk storage)
SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
SUPABASE_BUCKET_NAME=lost-and-found-uploads

# Frontend URL (for CORS)
CLIENT_URL=https://your-frontend-vercel-link.vercel.app
